<%= div_for punch, :class => "#{punch.created_at > Time.now.beginning_of_day ? 'today' : ''}" do %>
    <%= content_tag (:div, "Created at #{punch.created_at.strftime("%a, %B %d, %Y")}", :class => "date") %>
  <p><%= highlight(punch).html_safe %> <%= content_tag(:span, pluralize(punch.duration_in_minutes, 'minute'), :class => "duration-time") if punch.duration_in_minutes? %></p>
    <%= content_tag (:div, "Started working at #{punch.start_time.strftime('%Hh%Mm%S')}", :class => "start-time") if punch.start_time? %>
  <div class="punch_control">
    <%= link_to "Start working", start_path(punch), :class => "start-link", :remote => true unless punch.start_time? %>
    <%= link_to "Stop working", stop_path(punch), :class => "stop-link", :remote => true if punch.start_time? %>
    <%= link_to image_tag("edit.png"), edit_punch_path(punch) %> 
    <%= link_to image_tag("delete.png"), punch, :confirm => 'Are you sure?', :method => :delete %>
  </div>
<% end %>
